MONGO_ROOT_USERNAME=myblog_root
MONGO_ROOT_PASSWORD=change-this-mongo-password
SESSION_SECRET=change-this-session-secret
SESSION_KEY=myblog
MAIL_USER=change-this-mail-user
MAIL_PASS=change-this-mail-pass