<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="preAndNext">
                <div class="prev">
                    <i class="fa fa-hand-o-left" aria-hidden="true"></i>
                    <a href="/posts/<%=prePost._id%>"><%= prePost.title%></a>
                </div>
                <div class="next">
                    <a href="/posts/<%=nextPost._id%>"><%= nextPost.title%></a>
                    <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>