<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="javascript:void(0)">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0)">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/liuxinqiong">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; <%= blog.website %> 2017 | <a href="http://www.beian.miit.gov.cn/">湘ICP备17000807号</a></p>
            </div>
        </div>
    </div>
    <canvas id="dog-walking" style="position:fixed;left:0;bottom:0;z-index: -1"></canvas>
</footer>
<script src="/dist/blog.min.js"></script>
<script src="/src/component/autocomplete.js"></script>
<!-- <script src="/src/component/dog.js"></script> -->
</body>
</html>